*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family:"Open Sans", sans-serif ;

}


body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: rgb(0, 0, 0);
}

.page-login {
width: 420px;
background-color: transparent;
color: white;
padding: 30px 40px ;
border-radius: 35px;
border: solid white;

}

.loginpage h1{
font-size: 36px;
text-align:center;
}

.input-login{
width: 100%;
height: 50px;

margin: 30px 0 ;
}

.input-login input {
     width:100% ;
height: 100%;;
background-color: transparent;
outline: none;
color: white;
border: 2px solid rgb(255, 255, 255)  ;
border-radius: 40px;
padding: 15px;
}

.input-login ::placeholder{
    color: white;
    margin: 50px;
    padding-left: 15px;
}

.remember-login{
display: flex;
justify-content:space-between;
font-size: 15px;
margin: 15px;
}

.remember-login.a {
    color: white;
}

.label{
    accent-color:white;
    

}

.a{
    text-decoration: none;
    color: white;

}

.re.a :hover{
    text-decoration: underline;
}

.button{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}

.register-login{
text-align: center;
margin: 20px 0 15px;
text-size-adjust: 50px;
}

.register-login p a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.register-login p a{
    text-decoration: underline;
}
